apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "kubepocket.fullname" . }}-data
  labels:
    {{- include "kubepocket.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.persistence.size | default "1Gi" }}
  {{- if .Values.persistence.storageClass }}
  storageClassName: {{ .Values.persistence.storageClass }}
  {{- end }}