apiVersion: v1
kind: Service
metadata:
  name: {{ include "kubepocket.fullname" . }}
  labels:
    {{- include "kubepocket.labels" . | nindent 4 }}
  {{- if .Values.serviceMonitor.enabled }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: {{ .Values.service.metricsPort | quote }}
    prometheus.io/path: "/metrics"
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: api
      port: {{ .Values.service.apiPort }}
      targetPort: api
      protocol: TCP
    - name: metrics
      port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
  selector:
    {{- include "kubepocket.selectorLabels" . | nindent 4 }}
